.top{ /* Header CSS */
    display: inline-block;
    width: 100%;
    border: 2px solid black;
    background-color: rgb(140, 140, 204);
    margin-right: 0px;
    color: #222222;
}

header{
    margin-left: 10px;
}

nav{
    display: block;
    margin-top: 0.25cm; 
    margin-left: 4pt;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 1x;
    padding-right: 1px;
   /*  border-top: 1px solid rgb(0,0,0, 0.5);
    border-bottom: 1px solid rgb(0,0,0, 0.5); */
    
}

body{
    background-color: hsl(197, 47%, 86%);
}

section{ /* Border for Journal Entries */
    display: block;
    border-style: dashed;
    border-color: black;
    min-width: 1800px;
    border-width: 2px;
    border-radius: 8px;
    margin: 2px 2px 2px 2px;
    padding: 1px 5px 10px 10px;
}

h3{/* Titles */
    
    text-decoration: underline dotted;
    color:#222222;
}

p{
    text-align: left;
}

nav a{
    position: static;
    height: 1.5em;
    display: block;
    max-width: 1880px;
    border: 1px solid black;
    margin-top: 1px;
    margin-bottom: 2px;
    margin-right: 1px;
    margin-left: 1px;
    background-color: rgb(160, 160, 224);
}

/* Action Commands for nav bar*/
a:link {
    text-decoration: none;
  }

a:visited{
    text-decoration: none;
}

#entry1{
    position: static;
    display: inline-block;
    width: 30%;
    border: 1px solid grey;
}

#entry2, #entry3{
   
    display: inline-block;
    
    border: 1px solid grey;
}

li{
    font-size: 0.9rem;
}

ul{
    position: relative;
    bottom: 230px;
    left: 530px;
    display: inline-block;
    width:30%
}

nav a:hover{
    background-color: aqua;
}
nav a:active{
    background-color: purple;
}

.post{ /* Header CSS */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.post p{
    width: 30%;
}

*{ /* Changes all the page font*/
    font-family: 'Roboto', serif;
}

ol[attribute="routine"]{
    color: blue;
}

ol{
    order: 3;
}

ul > li{ /* li children of unordered list*/
    margin-left: 25px;
    margin-bottom: 0px;
}

video{
    order: 2;
}

@media only screen and (max-width: 1000px) {
    body {
      background-color: pink;
    }
}


   
